@model Practice_Crud___Agenda_Contactos.Models.Contact


@{
    ViewData["Title"] = "Edit Contact";
}

<h1 class="text-center">Agenda de Contactos</h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Create" asp-controller="Home" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Contact
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Create Contact</strong></h3>
            </div>
            <div class="card-body">

                <form asp-action="Edit" >

                <!-- ID del usuario como campo oculto *-->
                <input type="hidden" asp-for="Id" />


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter the Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Enter the phone number" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter the Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary d-block mx-auto"><i class="fa fa-user" aria-hidden="true"></i> Edit</button>
                    </div>
                </form>

                <a asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</div>